$bg-color: #a7d7ec;
$profile-size: 20rem;
$icon-color: #fff;

$vimeo: #1AB7EA;
$flickr: #DD166C;
$twitter: #10AAF2;
$facebook: #3957A0;
$googleplus: #CB4123;
$pintrest: #CA2922;
$tumblr: #355272;
$linkedin: #1194BD;
$dribbble: #E7508C;
$stumbleupon: #E75014;
$lastfm: #DD2200;
$rdio: #068DDA;
$skype: #0691E2;